doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/bootstrap.js')
  body
    include ./includes/navbar.jade
    include ./includes/showcase.jade
    // Main jumbotron for a primary marketing message or call to action
    .container
      block content
      hr
      footer
        p © Company 2014
    // /container
